---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="CV | Samer Ahmad®" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    Apasionado por crear productos digitales significativos que mejoren la vida de las personas. Combino mi experiencia como Ingeniero en Informática con experiencia en desarrollo Frontend para diseñar soluciones holísticas, elegantes y fáciles de usar.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Ingeniero en Informática"
      subtitle="2015 a 2021 en Universidad Nororiental Privada Gran Mariscal de Ayacucho, Ciudad Bolívar, Venezuela"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="UI/UX Designer"
      subtitle="Desde Ene 2023 hasta Dic 2024 en Caracas Commodity Exchange®, Caracas, Venezuela"
    >
    Diseño de experiencias de usuario fundamentadas en la
    investigación, con el objetivo de crear interfaces intuitivas y
    accesibles. Desarrollo de wireframes, prototipos y pruebas de
    usabilidad para optimizar la interacción entre los usuarios y los
    productos digitales.
    </TimeLineElement>
    <TimeLineElement
      title="UI Designer & Frontend Developer"
      subtitle="Desde Mar 2023 hasta Ago 2024 en Super Wallet®, Caracas, Venezuela"
    >
    Desarrollo de landing pages, diseño de componentes
    personalizados, creación de UI Kits e implementación de sitios web
    utilizando Next.js. Además, incorporación de animaciones dinámicas
    con Framer Motion para mejorar la experiencia del usuario y hacer
    que cada interacción sea memorable.
    </TimeLineElement>
    <TimeLineElement
      title="UX/UI Designer Remoto"
      subtitle="Desde Oct 2021 hasta Dic 2022 en Calewche Agency Chile, Santiago, Chile"
    >
    Investigación y diseño de la experiencia del usuario para una
    agencia digital en Chile, abarcando la creación de mockups, pruebas
    de prototipos, análisis de usuarios y desarrollo de maquetación web.
    </TimeLineElement>
  </div>



  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Visual design</li>
    <li>Prototipado</li>
    <li>Design Thinking</li>
    <li>Test de usabilidad</li>
    <li>Inteligencia artificial</li>
    <li>Scrum</li>
    <li>Análisis de la competencia</li>
    <li>User Research</li>
    <li>Análisis Heurístico</li>
    <li>Diseño de interacción</li>
    <li>Design Systems</li>
    <li>Accesibilidad</li>
    <li>Trabajo en equipo</li>
    <li>Adaptabilidad</li>
    <li>Toma de decisiones rápida</li>
  </ul>
</BaseLayout>
