---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hola 👋</div>
    <div class="text-5xl font-bold">Soy Samer Ahmad</div>
    <div class="text-3xl py-3 font-bold">Diseñador UX/UI</div>
    <div class="py-2">
      <text class="text-lg">
        Apasionado por crear productos digitales significativos que mejoren la vida de las personas. Combino mi experiencia como Ingeniero en Informática con experiencia en desarrollo Frontend para diseñar soluciones holísticas, elegantes y fáciles de usar.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://wa.me/56929725411" target="_blank">¡Contáctame!</a>
      <a href="/CV.pdf" target="_blank" class="btn btn-outline ml-5">
        Descargar CV
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Mis últimos proyectos {"</>"}</div>
  </div>

  <HorizontalCard
    title="Mobile Fit App Design | UX/UI Design"
    img="/project01.webp"
    desc="Una app móvil para alcanzar tus objetivos de fitness de manera eficiente mediante rutinas personalizadas segun tus necesidades y metas."
    url="https://dribbble.com/shots/25527275-Mobile-Fit-App-Design-UX-UI-Design"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Binance Redesign App"
    img="/project02.webp"
    desc="Rediseño la app de Binance, creando una experiencia más intuitiva y accesible. Simplifiqué la interfaz y optimicé la gestión de la cartera, priorizando la seguridad y claridad. ¡Más amigable para todos!"
    url="https://dribbble.com/shots/24313431-Binance-Redesign-App"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Ipad Pro Landing Page"
    img="/project03.webp"
    desc="Landing page del iPad Pro con formato Bento, creando una experiencia más atractiva e inmersiva. Organizando la información en bloques concisos, destaqué las características clave del producto y optimicé la experiencia para una mejor conversión."
    url="https://dribbble.com/shots/23112624-Day-3-Landing-Page-DailyUI"
    badge="NEW"
  />


</BaseLayout>
