---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Proyectos | Samer Ahmad®" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Proyectos</div>
  </div>

  <HorizontalCard
    title="Mobile Fit App Design | UX/UI Design"
    img="/project01.webp"
    desc="Una app móvil para alcanzar tus objetivos de fitness de manera eficiente mediante rutinas personalizadas segun tus necesidades y metas."
    url="https://dribbble.com/shots/25527275-Mobile-Fit-App-Design-UX-UI-Design"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Binance Redesign App"
    img="/project02.webp"
    desc="Rediseño la app de Binance, creando una experiencia más intuitiva y accesible. Simplifiqué la interfaz y optimicé la gestión de la cartera, priorizando la seguridad y claridad. ¡Más amigable para todos!"
    url="https://dribbble.com/shots/24313431-Binance-Redesign-App"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Ipad Pro Landing Page"
    img="/project03.webp"
    desc="Landing page del iPad Pro con formato Bento, creando una experiencia más atractiva e inmersiva. Organizando la información en bloques concisos, destaqué las características clave del producto y optimicé la experiencia para una mejor conversión."
    url="https://dribbble.com/shots/23112624-Day-3-Landing-Page-DailyUI"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Sign-up Form"
    img="/project04.webp"
    desc="Una interfaz web de registro para una plataforma de viajes. Quise que la prioridad fuera crear una cuenta con Google ya que el inicio de sesión social es más seguro, en caso de que el usuario no quiera conectar su cuenta de Google, sería un registro manual. Esa es la razón de la jerarquía del formulario."
    url="https://dribbble.com/shots/23013457-Day-1-Sign-up-Form-DailyUI"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Checkout Credit Card"
    img="/project05.webp"
    desc="Diseñé una interfaz de checkout para pagos con tarjeta de crédito, simplificando el proceso de compra.  Permite agregar fácilmente una tarjeta,  especificar la dirección de facturación y muestra claramente el total de la transacción para una experiencia de pago rápida y segura."
    url="https://dribbble.com/shots/23022670-Day-2-Checkout-Credit-Card-DailyUI"
    badge="NEW"
  />
</BaseLayout>
