---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Samer Ahmad®
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://www.linkedin.com/in/naderahmad/" target="_blank" class="font-bold">Samer Ahmad</a> using
    <!-- Thanks for using this template. You can keep this line to support my work :) -->
    <a href="https://astro.build/" target="_blank" class="font-bold">Astro Framework⚡️</a>
  </div>
</footer>
<style></style>
